@page
@model HotelApp.Web.Pages.Shared.ThankYouModel
@{
    ViewData["Title"] = "Thank You";
}

<h1>Thank You For booking, @Model.FirstName</h1>
<p>
    Feel free to contact us anytime on <a href=""><strong>www.hotelapp.com</strong></a>
</p>